---
import Layout from '../layouts/Layout.astro'
import WorkPreviewCard from '../components/ui/WorkPreviewCard.astro'
import { getCollection } from 'astro:content'
import LightingPreviewCard from '../components/ui/LightingPreviewCard.astro'
import CTA from '../components/text/CTA.astro'
import YearHeading from '../components/ui/YearHeading.astro'

// Get the video and lighting work data
const videoWorkData = await getCollection('work')
const lightingWorkData = await getCollection('lighting')

// Combine both collections
const allWork = [...videoWorkData, ...lightingWorkData]

// Helper function to filter and sort work by year and alphabetically
const getAlphabetizedWorkByYear = (year: string) => {
  return allWork
    .filter((work) => work.data.year === year)
    .sort((a, b) => a.data.title.localeCompare(b.data.title))
}

const work2025 = getAlphabetizedWorkByYear('2025')
const work2024 = getAlphabetizedWorkByYear('2024')
const work2023 = getAlphabetizedWorkByYear('2023')
const work2022 = getAlphabetizedWorkByYear('2022')
---

<Layout title="Animation, VFX, and Technical Design Studio">
  <header class="pt-[calc(var(--nav-height)+2rem)]">
    <div id="header-content" class="flex flex-col gap-6">
      <h1 class="text-xl md:text-2xl lg:text-3xl lsa lsa-slide-up no-repeat">SUPERVOID</h1>

      <p class="max-w-3xl text-base lsa lsa-slide-up no-repeat delay-100">
        <span class="text-magenta-900 lsa no-repeat delay-200">SUPERVOID</span> is a <span
          class="text-magenta-900 lsa no-repeat delay-300"
          >creative and technical design studio</span
        > specializing in screen visuals, lighting, lasers, scenic design and custom control setups <span
          class="text-magenta-900 lsa no-repeat delay-400">for touring artists.</span
        >
      </p>

      <div class="lsa lsa-slide-up no-repeat delay-500">
        <CTA text="Contact Us Today" href="/contact" />
      </div>
    </div>
  </header>

  <main id="work" class="relative w-full">
    <section id="2025">
      <YearHeading year="2025" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2025.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>

    <section id="2024">
      <YearHeading year="2024" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2024.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>

    <section id="2023">
      <YearHeading year="2023" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2023.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>

    <section id="2022">
      <YearHeading year="2022" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2022.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>
  </main>
</Layout>
