---
import Layout from '../layouts/Layout.astro'
import WorkPreviewCard from '../components/ui/WorkPreviewCard.astro'
import { getCollection } from 'astro:content'
import LightingPreviewCard from '../components/ui/LightingPreviewCard.astro'
import CTA from '../components/text/CTA.astro'
import YearHeading from '../components/ui/YearHeading.astro'
import { getAlphabetizedWorkByYear } from '../utils/sortWork'

// Get the video and lighting work data
const videoWorkData = await getCollection('work')
const lightingWorkData = await getCollection('lighting')

// Combine both collections
const allWork = [...videoWorkData, ...lightingWorkData]

const work2025 = getAlphabetizedWorkByYear({ allWork, year: '2025' })
const work2024 = getAlphabetizedWorkByYear({ allWork, year: '2024' })
const work2023 = getAlphabetizedWorkByYear({ allWork, year: '2023' })
const work2022 = getAlphabetizedWorkByYear({ allWork, year: '2022' })
---

<Layout title="Animation, VFX, and Technical Design Studio">
  <header class="pt-[calc(var(--nav-height)+2rem)]">
    <div id="header-content" class="flex flex-col gap-6">
      <h1 class="text-xl md:text-2xl lg:text-3xl lsa lsa-slide-up no-repeat mb-4">
        SUPERVOID <br />
        <span class="block text-m text-magenta-900 lsa lsa-slide-up no-repeat delay-100"
          >designs shows.</span
        >
      </h1>

      <p class="max-w-3xl text-balance text-base lsa lsa-slide-up no-repeat delay-200">
        We deliver end-to-end creative direction for live shows—designing unforgettable stages,
        visuals, and moments that bring an artist's vision to life.
      </p>

      <div class="lsa lsa-slide-up no-repeat delay-300">
        <CTA text="Contact Us Today" href="/contact" />
      </div>
    </div>
  </header>

  <main id="work" class="relative w-full">
    <section id="2025">
      <YearHeading year="2025" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2025.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>

    <section id="2024">
      <YearHeading year="2024" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2024.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>

    <section id="2023">
      <YearHeading year="2023" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2023.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>

    <section id="2022">
      <YearHeading year="2022" />
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {
          work2022.map((work) =>
            work.collection === 'work' ? (
              <WorkPreviewCard work={work} />
            ) : (
              <LightingPreviewCard work={work} />
            )
          )
        }
      </div>
    </section>
  </main>
</Layout>
