---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Pagination from '../components/ui/Pagination.astro'
import Layout from './Layout.astro'

// Frontmatter
const { frontmatter } = Astro.props
const currentPostId = +frontmatter.id

// Post data
const allPosts = (await getCollection('press')) as CollectionEntry<'press'>[]
const prevPost = allPosts.find((p) => +p.data.id === currentPostId + 1)
const nextPost = allPosts.find((p) => +p.data.id === currentPostId - 1)
---

<Layout
  title={`Supervoid | ${frontmatter.title}`}
  description={frontmatter.description}
  socialImage={frontmatter.socialImage}
>
  <main id="press-layout" class="max-w-4xl flex flex-col gap-[1lh] mb-16 md:mb-24 lsa no-repeat">
    <slot />

    <Pagination
      prevPost={prevPost}
      nextPost={nextPost}
      prevPostSlug={`/press/${prevPost?.slug}`}
      nextPostSlug={`/press/${nextPost?.slug}`}
      prevPostTitle={prevPost?.data.title}
      nextPostTitle={nextPost?.data.title}
    />
  </main>
</Layout>
