---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'

import { Swiper, SwiperWrapper, SwiperSlide, SwiperButtonPrev, SwiperButtonNext } from "astro-swiper";
import type { SwiperOptions } from 'swiper/types'

const swiperOptions: SwiperOptions = {
  effect: Astro.url.pathname !== '/servers' ? 'cards' : 'slide',
  grabCursor: true,
  speed: 300,
  cardsEffect: {
    rotate: false,
    slideShadows: true,
  },
  navigation: {
    nextEl: '#right',
    prevEl: '#left',
  },
}

export interface Props {
  images: {
    src: ImageMetadata
    alt: string
  }[]
  class?: string
}

const { images, class: className } = Astro.props
---

<Swiper class={`min-w-0 max-w-full ${className}`} options={swiperOptions}>
  <SwiperWrapper class="mb-8">
    {
      images.map((image) => (
        <SwiperSlide class="rounded-xl">
          <Picture src={image.src} formats={['avif', 'webp']} alt={image.alt} />
        </SwiperSlide>
      ))
    }
  </SwiperWrapper>

  <div id="pagination" class="max-w-80 mx-auto flex justify-between">
    <SwiperButtonPrev
      id="left"
      class="hover:rotate-2 active:scale-95 active:rotate-0 transition duration-(--transition)"
      addDefaultClass={false}
      aria-label="Previous"
      title="Previous"
    >
      <Icon name="left" class="w-32" />
    </SwiperButtonPrev>

    <SwiperButtonNext
      id="right"
      class="hover:-rotate-2 active:scale-95 active:rotate-0 transition duration-(--transition)"
      addDefaultClass={false}
      aria-label="Next"
      title="Next"
    >
      <Icon name="right" class="w-32" />
    </SwiperButtonNext>
  </div>
</Swiper>

<style>
  /* TODO: can horizonal scrolling bug on mobile be fixed without overflow-hidden? */

  .swiper.swiper-cards {
    overflow-x: hidden;
  }

  @media (min-width: 768px) {
    .swiper.swiper-cards {
      overflow-x: visible;
    }
  }
</style>
