---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  work: CollectionEntry<'lighting'>
}

const { work } = Astro.props
const youtubeId = work.data.youtubeId
---

<div
  id={`lighting-preview-card-${youtubeId}`}
  class="lighting-preview-card group relative pb-[56.25%] h-0 overflow-hidden w-full lsa lsa-slide-up no-repeat rounded-xl"
>
  <!-- YouTube embed inserted here via YouTube API -->
  <div id={`player-${youtubeId}`} class="absolute top-0 left-0 w-full h-full"></div>

  <!-- Overlay: image, play button, and project title -->
  <div data-image id={`image-${youtubeId}`} class="absolute top-0 left-0 w-full h-full">
    <Picture
      class="w-full brightness-75 group-hover:brightness-100 group-hover:scale-105 transition duration-(--transition)"
      src={work.data.poster}
      alt={work.data.title}
    />

    <button
      id={`play-button-${youtubeId}`}
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      aria-label="Play Video"
    >
      <Icon
        name="play"
        class="size-[90px] p-6 md:bg-black md:hover:bg-magenta-900 active:scale-95 rounded-full md:shadow-lg transition duration-[0.4s]"
      />
    </button>

    <div class="absolute bottom-0 w-full flex items-center gap-3">
      <h2 class="px-4 py-1 bg-magenta-900 text-xs uppercase text-white rounded-full">
        {work.data.title}
      </h2>
    </div>
  </div>
</div>

<script define:vars={{ youtubeId }}>
  const posterImage = document.querySelector(`#image-${youtubeId}`)
  const playButton = document.querySelector(`#play-button-${youtubeId}`)
  let player

  // Initialize YouTube Player
  function onPlayerReady(event) {
    event.target.playVideo()
    posterImage.classList.add('hidden')
  }

  function playYouTubeVideo() {
    player = new YT.Player(`player-${youtubeId}`, {
      videoId: youtubeId,
      events: {
        onReady: onPlayerReady,
      },
    })
  }

  // Play video on click
  playButton.addEventListener('click', playYouTubeVideo)
</script>
