---
import { Icon } from 'astro-icon/components'
import SocialIcons from './SocialIcons.astro'

const currentPath = Astro.url.pathname
---

<nav
  id="navigation"
  class="fixed top-0 left-0 right-0 flex min-h-[var(--nav-height)] transition-all duration-500 z-20 bg-gradient-to-b from-black to-transparent"
  data-current-url={currentPath}
>
  <!-- Mobile Navigation -->

  <div id="mobile-nav" class="lg:hidden w-full flex justify-between items-center">
    <a href="/" class="block w-full max-w-16 md:max-w-20 z-10" aria-label="Home" title="Home"
      ><Icon name="logo" /></a
    >
    <button
      id="hamburger"
      class="relative flex flex-col justify-center items-center size-8 z-10 group"
      aria-expanded="false"
      title="Menu"
      aria-label="Menu"
    >
      <span
        id="top"
        class="h-[2px] w-6 bg-white rounded-md transition duration-200 -translate-y-1 group-[.active]:rotate-[135deg] group-[.active]:translate-y-[1px]"
      >
      </span>
      <span
        id="bottom"
        class="h-[2px] w-6 bg-white rounded-md transition duration-200 translate-y-1 group-[.active]:rotate-[-135deg] group-[.active]:-translate-y-[1px]"
      >
      </span>
    </button>

    <div
      id="mobile-nav-overlay"
      class="absolute top-0 left-0 w-full h-dvh overflow-y-auto px-4 md:px-8 opacity-0 invisible -z-10 transition duration-200 text-white bg-black"
    >
      <!-- nav items -->
      <ul class="flex flex-col gap-8 pt-32 mb-16">
        <!-- dropdown -->
        <li class="dropdown group">
          <button
            aria-label="Work"
            title="Work"
            class="flex gap-2 items-center text-l hover:text-magenta-900 transition duration-200"
            >Work
            <Icon
              name="tabler:chevron-down"
              class="max-w-8 group-[.active]:rotate-180 transition-transform duration-200"
            />
          </button>

          <ul
            class="invisible h-0 opacity-0 group-[.active]:visible group-[.active]:h-auto group-[.active]:opacity-100 transition-opacity duration-300"
          >
            <li class="transition-transform hover:translate-x-1 duration-200 text-m">
              <a
                href="/#video"
                aria-label="Video"
                title="Video"
                class="block w-full h-full pt-6 pb-3 px-6">Video</a
              >
            </li>
            <li class="transition-transform hover:translate-x-1 duration-200 text-m">
              <a
                href="/#lighting"
                aria-label="Lighting"
                title="Lighting"
                class="block w-full h-full py-3 px-6">Lighting</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/about" aria-label="About" title="About" class="text-l">About</a>
        </li>
        <!-- dropdown -->
        <li class="dropdown group">
          <button
            aria-label="Rentals"
            title="Rentals"
            class="flex gap-2 items-center text-l hover:text-magenta-900 transition duration-200"
            >Rentals
            <Icon
              name="tabler:chevron-down"
              class="max-w-8 group-[.active]:rotate-180 transition-transform duration-200"
            />
          </button>

          <ul
            class="invisible h-0 opacity-0 group-[.active]:visible group-[.active]:h-auto group-[.active]:opacity-100 transition-opacity duration-300"
          >
            <li class="transition-transform hover:translate-x-1 duration-200 text-m">
              <a
                href="/rentals#servers"
                aria-label="Servers"
                title="Servers"
                class="block w-full h-full pt-6 pb-3 px-6">Servers</a
              >
            </li>
            <li class="transition-transform hover:translate-x-1 duration-200 text-m">
              <a
                href="/rentals#lighting"
                aria-label="Lighting"
                title="Lighting"
                class="block w-full h-full py-3 px-6">Lighting</a
              >
            </li>
            <li class="transition-transform hover:translate-x-1 duration-200 text-m">
              <a
                href="/rentals"
                aria-label="Rentals Main"
                title="Rentals Main"
                class="block w-full h-full py-3 px-6">Rentals Main</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/press" aria-label="Press" title="Press" class="text-l">Press</a>
        </li>
        <li>
          <a href="/jobs" aria-label="Jobs" title="Jobs" class="text-l">Jobs</a>
        </li>
        <li>
          <a href="/contact" aria-label="Contact" title="Contact" class="text-l">Contact</a>
        </li>
      </ul>
      <SocialIcons />
    </div>
  </div>

  <!-- Desktop Navigation -->

  <div id="desktop-nav" class="lg:flex hidden w-full justify-between items-center flex-wrap gap-10">
    <a href="/" class="block w-full max-w-20" aria-label="Home" title="Home"><Icon name="logo" /></a
    >
    <!-- nav items -->
    <ul class="flex gap-10 text-xs">
      <!-- dropdown -->
      <li class="dropdown group">
        <button
          aria-label="Work"
          title="Work"
          class="flex gap-2 items-center hover:text-magenta-900 transition duration-200"
          >Work
          <Icon
            name="tabler:chevron-down"
            class="max-w-6 group-[.active]:rotate-180 transition-transform duration-200"
          />
        </button>
        <ul
          class="absolute pointer-events-none -z-10 opacity-0 scale-95 group-[.active]:opacity-100 group-[.active]:z-10 group-[.active]:scale-100 group-[.active]:pointer-events-auto bg-blackTransparent backdrop-blur-lg rounded-xl transition-all shadow-lg"
        >
          <li class="transition-transform hover:translate-x-1 duration-200">
            <a
              href="/#video"
              aria-label="Video"
              title="Video"
              class="block w-full h-full pt-6 pb-3 px-6">Video</a
            >
          </li>
          <li class="transition-transform hover:translate-x-1 duration-200">
            <a
              href="/#lighting"
              aria-label="Lighting"
              title="Lighting"
              class="block w-full h-full pt-3 pb-6 px-6">Lighting</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="/about" aria-label="About" title="About"
          >About
          <Icon name="underline" /></a
        >
      </li>
      <!-- dropdown -->
      <li class="dropdown group">
        <button
          aria-label="Rentals"
          title="Rentals"
          class="flex gap-2 items-center hover:text-magenta-900 transition duration-200"
          >Rentals
          <Icon name="underline" />
          <Icon
            name="tabler:chevron-down"
            class="max-w-6 group-[.active]:rotate-180 transition-transform duration-200"
          />
        </button>
        <ul
          class="absolute pointer-events-none -z-10 opacity-0 scale-95 group-[.active]:opacity-100 group-[.active]:z-10 group-[.active]:scale-100 group-[.active]:pointer-events-auto bg-blackTransparent backdrop-blur-lg rounded-xl transition-all shadow-lg"
        >
          <li class="transition-transform hover:translate-x-1">
            <a
              href="/rentals#servers"
              aria-label="Servers"
              title="Servers"
              class="block w-full h-full pt-6 pb-3 px-6">Servers</a
            >
          </li>
          <li class="transition-transform hover:translate-x-1">
            <a
              href="/rentals#lighting"
              aria-label="Lighting"
              title="Lighting"
              class="block w-full h-full py-3 px-6">Lighting</a
            >
          </li>
          <li class="transition-transform hover:translate-x-1">
            <a
              href="/rentals"
              aria-label="Rentals Main"
              title="Rentals Main"
              class="block w-full h-full pt-3 pb-6 px-6">Rentals Main</a
            >
          </li>
        </ul>
      </li>
      <li><a href="/press" aria-label="Press" title="Press">Press<Icon name="underline" /></a></li>
      <li><a href="/jobs" aria-label="Jobs" title="Jobs">Jobs<Icon name="underline" /></a></li>
      <li>
        <a href="/contact" aria-label="Contact" title="Contact">Contact<Icon name="underline" /></a>
      </li>
    </ul>
    <SocialIcons />
  </div>

  <style>
    /* Active nav item styles */

    #navigation li a,
    #navigation button {
      position: relative;
    }

    #navigation [data-icon='underline'] {
      display: none;
    }

    /* Mobile */

    #navigation[data-current-url^='/about'] [aria-label='About'],
    #navigation[data-current-url^='/rentals'] [aria-label='Rentals'],
    #navigation[data-current-url^='/press'] [aria-label='Press'],
    #navigation[data-current-url^='/jobs'] [aria-label='Jobs'],
    #navigation[data-current-url^='/contact'] [aria-label='Contact'] {
      color: var(--color-magenta-900);

      @media (min-width: 1024px) {
        &:not(:hover) {
          color: var(--color-white);
        }
      }
    }

    /* Desktop */

    @media (min-width: 1024px) {
      #navigation[data-current-url^='/about'] [aria-label='About'] [data-icon='underline'],
      #navigation[data-current-url^='/rentals'] [aria-label='Rentals'] [data-icon='underline'],
      #navigation[data-current-url^='/press'] [aria-label='Press'] [data-icon='underline'],
      #navigation[data-current-url^='/jobs'] [aria-label='Jobs'] [data-icon='underline'],
      #navigation[data-current-url^='/contact'] [aria-label='Contact'] [data-icon='underline'] {
        display: block;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        max-width: 82px;
      }
    }
  </style>

  <script>
    const body = document.querySelector('body') as HTMLBodyElement
    const navigation = document.getElementById('navigation')
    const mobileDropdowns = document.querySelectorAll('#mobile-nav .dropdown')
    const desktopDropdowns = document.querySelectorAll('#desktop-nav .dropdown')
    const mobileNavItems = document.querySelectorAll('#mobile-nav a')
    const hamburger = document.getElementById('hamburger') as HTMLButtonElement
    const mobileNavOverlay = document.getElementById('mobile-nav-overlay') as HTMLDivElement
    let overlayDisplayed = false
    let prevScrollpos = window.scrollY

    /**
     * Mobile navigation overlay helpers
     */

    function handleMobileNavigationOverlayOnClick() {
      overlayDisplayed = !overlayDisplayed
      body.setAttribute('data-overlay-displayed', `${overlayDisplayed}`)

      // Mobile nav overlay styles
      mobileNavOverlay.classList.toggle('invisible')
      mobileNavOverlay.classList.toggle('opacity-0')

      // Hamburger styles
      hamburger.setAttribute('aria-expanded', `${overlayDisplayed}`)
      hamburger.classList.toggle('active')
    }

    function handleMobileNavigationOverlayOnResize() {
      if (window.innerWidth >= 768) {
        overlayDisplayed = false
        body.setAttribute('data-overlay-displayed', `${overlayDisplayed}`)

        // Reset mobile nav overlay styles
        mobileNavOverlay.classList.add('invisible')
        mobileNavOverlay.classList.add('opacity-0')

        // Reset hamburger styles
        hamburger.setAttribute('aria-expanded', `${overlayDisplayed}`)
        hamburger.classList.remove('active')
      }
    }

    /**
     * Dropdown menu helpers
     */

    function toggleDropdown(e: Event) {
      const dropdown = e.currentTarget as HTMLElement
      dropdown.classList.toggle('active')
    }

    function showDropdown(e: Event) {
      const dropdown = e.currentTarget as HTMLElement
      dropdown.classList.add('active')
    }

    function hideDropdown(e: Event) {
      const dropdown = e.currentTarget as HTMLElement

      if (dropdown.classList.contains('active')) {
        dropdown.classList.remove('active')
      }
    }

    /**
     * Navbar visibility helpers
     */

    function showNavbar() {
      navigation?.classList.add('top-0')
      navigation?.classList.remove('-top-20')
    }

    function hideNavbar() {
      navigation?.classList.remove('top-0')
      navigation?.classList.add('-top-20')
    }

    function handleActiveNavigationOnScroll() {
      let currentScrollPos = window.scrollY

      // Show nav when scrolling up or at the top of the page
      if (prevScrollpos > currentScrollPos || currentScrollPos < 20) {
        showNavbar()
        // Chrome bug: nav disappears when opening mobile nav near the footer
        // Checking if the overlay is displayed prevents the nav from disappearing
      } else if (prevScrollpos < currentScrollPos && !overlayDisplayed) {
        hideNavbar()
      }

      prevScrollpos = currentScrollPos
    }

    // Accessibility
    hamburger.addEventListener('keyup', (event) => {
      if (event.code === 'Escape' && overlayDisplayed) {
        handleMobileNavigationOverlayOnClick()
      }
    })

    // Event listeners
    mobileDropdowns.forEach((d) => d.addEventListener('click', toggleDropdown))
    desktopDropdowns.forEach((d) => {
      d.addEventListener('click', toggleDropdown)
      d.addEventListener('mouseenter', showDropdown)
      d.addEventListener('mouseleave', hideDropdown)
    })
    mobileNavItems.forEach((i) => i.addEventListener('click', handleMobileNavigationOverlayOnClick))
    hamburger.addEventListener('click', handleMobileNavigationOverlayOnClick)
    window.addEventListener('resize', handleMobileNavigationOverlayOnResize)
    window.addEventListener('scroll', handleActiveNavigationOnScroll)
  </script>
</nav>
